.main-part{
  margin-top: 15%;
  color: #102A42;
  font-size: 40px;
  text-align: center;
}
.main-part button{
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  background-color: #F1F5F8;
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
}
.main-part button:hover{
  background-color: black;
  color: white;
}